<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.3.15" targetFramework="net45" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net35" developmentDependency="true" requireReinstallation="true" />
  <package id="Fody" version="2.5.0" targetFramework="net45" developmentDependency="true" />
</packages>